body {
    margin: 0;
    height: 100vh;
    color: "#353535";
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-image: url("../../../../../foni/foni/foni/first-react/public/img/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #root,
  .App {
    font-family: sans-serif;
    height: 100%;
    display: flex;
    position: relative;
  }
  
  .App .title {
    margin-left: 500px;
    padding: 24px;
    flex-grow: 1;
    display: flex;
  }

  .menu-phone {
    margin-top: 100px;
    display: flex;
    padding: 50px;
    position: fixed;
    margin-left: 300px;
  }

  .menu-phone .Table {
    display: flex;
    width: 900px;
  }

  .menu-phone .btn {
    width: 100px;
    background-color:rgb(255, 255, 255);
    color:#000;
    display: block;
    border-color: rgb(0, 0, 0);
  }

#layout {
    position: absolute;
    width: 220px;
  }
  #layout .pro-sidebar {
    height: 100vh;
  }
  #layout .closemenu {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 9999;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
  }
  #layout .pro-sidebar {
    width: 100%;
    min-width: 100%;
  }
  #layout .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
  #layout .pro-sidebar-inner {
    background-image: url("../../../../../foni/foni/foni/first-react/public/img/image.jpg");
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
    opacity: 10;
  }
  #layout .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #layout .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
  }
  #layout .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
  #layout .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
  }
  #layout .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fbf4cd;
    color: #000;
    border-radius: 3px;
  }
  #layout .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
  }
  #layout .pro-sidebar-inner .pro-sidebar-layout .active {
    background-image: linear-gradient(0deg, #ececdf 0%, #ffffff 100%);
  }
  #layout .logo {
    padding: 20px;
  }
  
  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }